body {
  text-align: center;
  background-color: rgb(236,239,241);
  margin: 0;
}

h1{
  width: 100%;
  font-family: 'Muli', sans-serif;
  padding: 30px;
  font-size: 45px;
  text-align: center;
}

/* navbar */
.navbar{
  width: 100%;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding: 30px;
  font-size: 23px;
}

.navbar a{
  text-decoration: none;
  padding: 4vw;
  width: 25%;
  color: black;
}
